/* Extra small devices (phones, less than 768px) */
html { 
    background: url(../img/warehouse-now-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:'Roboto', sans-serif;
    color:#ffffff;
    box-sizing: border-box;
}
html, body {
    padding:0;
    margin:0;
    height:100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.inner {
    padding:1em;
}

.logo {
    display:block;
    max-width:100%;
    width:100%;
}

.desc {
    font-size:1.5em;
    font-weight:100;
    text-align:center;
    font-family:'Roboto';
    margin-top:80px;
    text-align:center;
}

.desc span {
    text-transform:uppercase;
}

.info {
    position:absolute;
    bottom:0;
    text-align:center;
    width:100%;
    font-family:'Roboto';
    font-weight:100;
    padding-bottom:20px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .inner {
        padding:0;
        height:100%;
        position:relative;
    }

    .content-wrapper {
        position:absolute;
        top:39%;
        left:39%;
    }

    .logo-wrapper,
    .logo {
        width:300px;
    }
    .logo-wrapper {
        margin:0 auto;
        padding:30px;
        background:rgba(0,0,0,.5);
        -webkit-border-radius: 2px; 
        -moz-border-radius: 2px; 
        border-radius: 2px;       
    }

    .info {
        text-align:right;
        padding-right:20px;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    

}

