      <!--
      ========================================================
                              FOOTER
      ========================================================
      -->
      
      <footer class="page-footer footer-centered text-center">
        <section class="footer-content">
          <div class="container">
            <div class="navbar-brand"><a href="index.html">Modicate</a></div>
            <p class="big">We believe in Simple, Creative & Flexible Design Standards.</p>
            <ul class="list-inline">
              <li><a href="#" class="fa-facebook"></a></li>
              <li><a href="#" class="fa-pinterest-p"></a></li>
              <li><a href="#" class="fa-twitter"></a></li>
              <li><a href="#" class="fa-google-plus"></a></li>
              <li><a href="#" class="fa-instagram"></a></li>
            </ul>
          </div>
        </section>
        <section class="copyright">
          <div class="container">
            <p>&#169; <span id="copyright-year"></span> All Rights Reserved <a href="terms.html">Terms of Use and Privacy Policy</a></p>
          </div>
        </section>
      </footer>
    </div> <!-- .page -->
    <!--Core Scripts-->
    <script src="{{ "/js/core.min.js" | prepend: site.baseurl }}"></script>
    <!--jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <!--Include all compiled plugins (below), or include individual files as needed-->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <!--Additional Functionality Scripts-->
    <script src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>