<header class="header" data-stellar-background-ratio="0.5" id="home" style="background-position: 50% 50%;">
        
        <!-- COLOR OVER IMAGE -->
        <div class="overlay-layer">
            
            <!-- CONTAINER -->
            <div class="container">
                
                <!-- ONLY LOGO ON HEADER -->
                <div class="only-logo">
                    <div class="navbar">
                        <div class="navbar-header">
                             <img title="Warehouse Now" 
                                    alt="Warehouse Now" 
                                    src="img/WarehouseNow-Logo-square.png">
                        </div>
                    </div>
                </div>
                
                <!-- /END ONLY LOGO ON HEADER -->
                <div class="row">
                    <div class="col-md-12">
                        
                        <!-- HEADING AND BUTTONS -->
                        <div class="intro-section">
                            
                            <!-- WELCOM MESSAGE -->
                            <div class="hidden-xs visible-sm visible-md visible-lg">
                                <h1 class="intro white-text">We make software that is powerful, <br>simple to use, beautiful by design<br> and lightning fast.</h1>
                            </div>
                            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                                <h1 class="intro white-text">We make software that is powerful, simple to use, beautiful by design and lightning fast.</h1>
                            </div>
                            <h5 class="white-text">We're reimagining Inventory Management on a global scale.</h5>
                            
                            <!-- BUTTON -->
                            <div class="button">
                                <a href="#section1" class="btn btn-primary standard-button inpage-scroll">We make Warehouse Now</a>
                            </div>
                            <!-- /END BUTTON -->
                            
                        </div>
                        <!-- /END HEADNING AND BUTTONS -->
                    </div>
                </div>
            </div>
        </div>
    </header>