<!--RD Navbar-->
<div class="rd-navbar-wrap">
  <nav class="rd-navbar top-panel-none-items" data-layout="rd-navbar-fixed" data-hover-on="false" data-stick-up="false" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-static">
    <div class="rd-navbar-inner">

      <!--RD Navbar Panel-->
      <div class="rd-navbar-panel">

        <!--RD Navbar Toggle-->
        <button data-rd-navbar-toggle=".rd-navbar" class="rd-navbar-toggle"><span></span></button>
        <!--END RD Navbar Toggle-->

        <!--RD Navbar Brand-->
        <div class="rd-navbar-brand">
          <a href="/" class="brand-name"><span>Warehouse Now</span></a>
        </div>
        <!--END RD Navbar Brand-->
      </div>
      <!--END RD Navbar Panel-->

      <div class="rd-navbar-nav-wrap">
        <!--RD Navbar Nav-->
        <ul class="rd-navbar-nav">
          <li {% if page.url == "/" %}class="active"{% endif %}><a href="/">Home</a></li>
          <li {% if page.url == "/is/" %}class="active"{% endif %}><a href="/is">About</a></li>
          <li {% if page.url == "/pricing/" %}class="active"{% endif %}><a href="/pricing">Pricing</a></li>
          <!-- <li {% if page.url == "/tech/" %}class="active"{% endif %}><a href="/tech">Technology</a></li> -->
          <li {% if page.url == "/contact/" %}class="active"{% endif %}><a href="/contact">Contact</a></li>
        </ul>
        <!--END RD Navbar Nav-->
      </div>
    </div>
  </nav>
</div>
<!--END RD Navbar-->